/*------------------------------------  Loader   --------------------------------*/
.contenedor-ripple {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,204,170,1);
    background: -moz-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,204,170,1)), color-stop(100%, rgba(35,28,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -o-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccaa', endColorstr='#231c4d', GradientType=1 );
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
  top: -1px;
  left: -1px;
  width: 58px;
  height: 58px;
  opacity: 0;
    }
}


/*------------------------------------  Body   --------------------------------*/

body {
    background: url(../images/fondo.jpg) no-repeat repeat center center fixed;
    -webkit-background-size: cover ;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    background-size: cover;
}

/*------------------------------------  Header   --------------------------------*/
::-webkit-scrollbar {
    width: 5px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 102, 71);
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 165, 115);
    border-radius: 10px;
  }

header {
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 1;
    top: 40px;
}

.contenedor-menu-horizontal {
    width: 100%;
    height: 30px;
    
}

.menu-horizontal {
    background: rgba(0,204,170,1);
    background: -moz-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,204,170,1)), color-stop(100%, rgba(35,28,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -o-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccaa', endColorstr='#231c4d', GradientType=1 );
    border: none;
    border-radius: 20px;
    width: 5%;
    overflow: hidden;
    height: 100%;
    float: right;
    margin-right: 2%;
    transition: .5s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.479);
}

.menu-horizontal:hover {
    margin-left: 85%;
    width: 13%;
    height: 90px;
    border-radius: 10px;
}

.menu-horizontal img {
    width: 30px;
    height: 30px;
    float: right;
    
}

.menu-horizontal .flecha-submenu {
    color: white;
    margin-left: 15px;
    position: absolute;
}

.menu-horizontal:hover .flecha-submenu {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.menu-horizontal .sub-menu { 
    float: left;  
    transform: translateX(-120px);
    
}

.menu-horizontal:hover .sub-menu {
    margin-left: 30%;
    transform: translateY(0px);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.sub-menu .m-submenu {
    cursor: default;
    pointer-events: none;
}

.sub-menu a {
    color: white;

}
.s-submenu {
    font-size: 12px;
}

.s-submenu:hover {
    text-shadow: 0 0 2px white
}
/*------------------------------------  Menu Vertical   --------------------------------*/

.Menu {
    width: 5%;
    height: 90%;
    overflow: hidden;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    text-align: center;
    margin: 0% 2%;
    position: fixed;
    border-radius: 10px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: block;
    background: rgba(7, 7, 7, 0.486);
    box-shadow: 0 0 8px rgb(15, 15, 15);
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.Menu:hover {
    width: 8%;
}

.Menu img { 
    width: 50px;
    height: 50px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-filter: drop-shadow(0px 0px 5px rgb(25, 182, 255));
    filter: drop-shadow(0px 0px 5px rgb(25, 182, 255));
}

.nickName {
    text-align: center;
    font-size: 10px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 10px  rgb(255, 255, 255);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.Menu:hover td {
    padding: 0px 35px;
    
}

hr {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 60%;
}


.Menu-models h4 {
    font-size: 10px;
    visibility:hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.Menu-models:hover h4 {
    visibility:visible;
    opacity:1;
}

.modulo-home,
.modulo-ranking,
.modulo-download  {
    text-align: center;
    font-size: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0px 0px;
    color: rgba(255, 255, 255, 0.582);
}

.modulo-home:hover,
.modulo-ranking:hover,
.modulo-download:hover {
    transform: translateY(-2px);
    font-size: 25px;
    color: white;
}

.modulo-almacen {
    text-align: center;
    font-size: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0px 0px;
    color: rgba(255, 255, 255, 0.582);
}

.modulo-almacen:hover {
    transform: translateY(-2px);
    font-size: 25px;
    color: white;
}

.modulo-personal {
    text-align: center;
    font-size: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0px 0px;
    color: rgba(255, 255, 255, 0.582);
}

.modulo-personal:hover {
    transform: translateY(-2px);
    font-size: 25px;
    color: white;
}

.modulo-nomina {
    text-align: center;
    font-size: 20px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0px 0px;
    color: rgba(255, 255, 255, 0.582);
}

.modulo-nomina:hover {
    transform: translateY(-2px);
    font-size: 25px;
    color: white;
}
/*------------------------------------  Contenedor Models  --------------------------------*/

.contenedor-models {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: block;
    background: rgba(7, 7, 7, 0.486);
    box-shadow: 0 0 8px rgb(15, 15, 15);
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    width: 84%;
    height: 505px;
    margin: 4% 8%;
    overflow: hidden;
    padding: 50px;
    position: fixed;
    z-index: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    overflow-y: scroll;
}

.contenedor-menu:hover ~ .contenedor-models {
    width: 81%;
    height: 525px;
    margin: 4% 11%;
}
