.contenedor-ripple-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0,204,170,1);
    background: -moz-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,204,170,1)), color-stop(100%, rgba(35,28,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -o-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    background: linear-gradient(45deg, rgba(0,204,170,1) 0%, rgba(35,28,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccaa', endColorstr='#231c4d', GradientType=1 );
}

.lds-ripple-home {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple-home div {
    position: absolute;
    border: 4px solid rgb(255, 255, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple-home div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple-home {
0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
  top: -1px;
  left: -1px;
  width: 58px;
  height: 58px;
  opacity: 0;
    }
}

h1 {
    color: white;
}