body {
  color:white;
  height:100%;
  width:100%;
  margin: 0px;
}
.container-fondo {
  background: url(../images/fondo.jpg) no-repeat repeat center center;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
   position: fixed;
}

.container {
  display: block;
  margin-top: 10%;
}

.login-container {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  top: 0;
  right: 0;
  left: 0;
  display: block;
  background: rgba(22, 22, 22, 0.486);
  box-shadow: 0 0 8px rgb(15, 15, 15);
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 40px;
  height: 300px;
  margin: 0 auto;
  width: 750px;
  overflow: hidden;
  padding: 50px;
  position: relative;
  text-align: center;
  z-index: 0;
  transition: .8s;
}

.hologram-login {
  left: 0;
  top: 0;
  position: absolute;
  width: 600px;
  height: 400px;
  filter: drop-shadow(0px 5px 5px rgb(41, 24, 40));
  transition: .8s;
}

.formulario-login {
  left: 60%;
  top: 25%;
  position: absolute;
  transition: .8s;
  font-family: 'Fjalla One', sans-serif;
}

.input-div {
  display: grid;
  grid-template-columns: 0% 100%;
  font-size: 15px;
}

.i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 65px;
  z-index: 1;
  color: rgb(255, 255, 255);
  transition: .8s;
}


.input {
  outline:none;
  color: rgb(255, 255, 255);
  background-color: rgba(57, 21, 68, 0.534);
  text-align: center;
  border-radius: 10px;
  border: none;
  transition: .8s;
  padding: 10px 10px;
  margin: 10px 10px;
  font-family: 'Fjalla One', sans-serif;
}

.input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
  border: none;
  border-radius: 10px;
}

.input:hover {
  color: white;
  background-color: rgba(153, 48, 185, 0.534);
}

.btn {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 150px;
  color: rgb(116, 109, 104);
  background: rgba(79, 20, 102, 0.671);
  border: 2px solid rgba(255, 255, 255, 0.342);
  border-radius: 20px;
  cursor: pointer;
  transition: .8s;
  font-family: 'Fjalla One', sans-serif;
  outline: none;
}

.btn:hover {
  outline:0 none;
  box-shadow: 0 0 10px rgba(246, 224, 255, 0.411);
  color: white;
  background: rgba(105, 7, 143, 0.568);
  border: 2px solid rgba(255, 255, 255, 0.685);
  
}

.ErrorLogin {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
  margin: 20px auto;
  text-shadow: 0 2px 5px rgba(24, 24, 24, 0.904);
}

a {
  outline:none;
  padding: 5px;
  display: block;
  text-align: center;
  color: rgb(129, 129, 129);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}



@media screen and  (max-width: 900px) {
  .hologram-login {
    width: 500px;
  }

  .login-container {
    width: 600px;
  }
}

@media screen and  (max-width: 750px) {
  .hologram-login {
    display: none;
  }

  .formulario-login {
    left: 17%;
    
  }

  .login-container {
    width: 380px;
  }
}

@media screen and  (max-width: 450px) {
  .hologram-login {
    display: none;
  }

  .formulario-login {
    left: 16%;
    top: 25%;
  }

  .login-container {
    width: 270px;
  }

}