.container-download {
    background-color: ivory;
    position: absolute;
    width: 93%;
    padding: 0% 0;
}

.item-mediafire,
.item-mega,
.item-google {
    overflow: hidden;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: block;
    background: rgba(119, 235, 220, 0.096);
    box-shadow: 0 0 8px rgb(15, 15, 15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 20%;
    border-radius: 20px;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}

.item-mediafire:hover  {
    background: rgba(10, 82, 72, 0.397);
    box-shadow: 0 0 8px rgb(10, 82, 72, 0.397);

}

.item-mega:hover  {
    background: rgba(82, 10, 10, 0.397);
    box-shadow: 0 0 8px rgba(82, 10, 10, 0.397);

}

.item-google:hover  {
    background: rgba(136, 128, 22, 0.397);
    box-shadow: 0 0 8px rgba(136, 128, 22, 0.397);

}

.item-mediafire {
    padding: 8% 0;
    margin: 4% 15%;

}

.item-mega {
    padding: 10% 2%;
    margin: 2% 38%;
}

.item-google {
    padding: 8% 0;
    margin: 4% 65%;
}

.item-mediafire:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(81, 148, 160, 0.274);
}
.item-mega:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(150, 103, 103, 0.274);
}
.item-google:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(145, 150, 103, 0.274);
}

.img {
    position: relative;
    width: 200px;
    height: 200px;
    left: 35px;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}

.img:hover {
    -webkit-filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
    transform: translateY(-10px);
}

.text-m, .text-me, .text-g  {
    font-family: 'Fjalla One', sans-serif;
    color: transparent;
    position: absolute;
    transform: translateY(30px);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.text-m {
    top: 70%;
    left: 60px;
    
}

.text-me {
    top: 75%;
    left: 100px;
}

.text-g {
    top: 75%;
    left: 50px;
}

.img:hover ~ .text-m {
    color: white;
    text-shadow: 0px 0px 10px white;
    transform: translateX(0px);
}

.img:hover ~ .text-me{
    color: white;
    text-shadow: 0px 0px 10px white;
    transform: translateX(0px);
}

.img:hover ~ .text-g{
    color: white;
    text-shadow: 0px 0px 10px white;
    transform: translateX(0px);
}